
<div class="card mx-auto" style="width: 18rem;">
    <img src="https://www.ristoranteeuridice.it/wp-content/uploads/2019/10/piatto-POLIPO-ristorante-euridice.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h4 class="card-title">Informazioni Ristorante</h4>
        <hr />
        <p class="card-text">Ci puoi contattare qui oppure venire a visitarci.</p>
        <p class="card-text"><b>E-mail:</b> ristorante@gmail.com</p>
        <p class="card-text"><b>Telefono:</b> +39 025 1456 892</p>
        <p class="card-text"><b>Indirizzo:</b> Via Larga 35, Milano 20156</p>
        <a class="btn btn-warning" asp-controller="Home" asp-action="Index" role="button">Indietro</a>
    </div>
</div>


