@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuti al Ristorante!</h1>
    <p>Puoi registrarti <a asp-controller="Utenti" asp-action="Create">Qui</a> poter accedere a tutti i nostri servizzi.</p> @*TODO -> crea nuovo utente*@
</div>

<div class="w-100">
    <img src="https://www.dafrancoristorante.it/wp-content/uploads/2018/02/DaFranco0005-2000x925.jpg" class="d-block w-100" alt="...">
</div>
